/* Universal styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main header styles */
h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

/* Styles for the search form and search history panel */
    .city-search {
        margin: 15px;
        height: 100vh;
    }

    .search-form {
        border-bottom: 1px solid lightgray;
    }

    .city-search-header {
        font-size: 20px;
        font-weight: bold;
    }

    .btn {
        width: 100%;
    }

    .btn:hover {
        cursor: pointer;
    }

    .search-history {
        margin: 15px;
    }

    .history-item {
        list-style: none;
        background-color: lightgray;
        color: black;
        border-radius: 5px;
        margin-top: 15px;
        width: 100%;
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }

    .history-item:hover {
        cursor: pointer;
}


/* Style for the weather data panels */
    .weather-data {
        margin: 20px;
    }

    #current-conditions {
        border-radius: 5px;
        padding: 20px;
        margin: 10px;
        line-height: 0.5;
    }

    #icon {
        height: 120px;
        padding: 0px;
    }

    #forecast {
        border-radius: 5px;
        padding: 10px;
        line-height: 0.5;
    }

    .forecast-cards {
        padding: 0px;
    }

    .forecast-card {
        background-color: #7b848c;
        color: #fff;
        padding: 16px;
        border-radius: 5px;
        width: 18%;
        text-align: center;
    }

    h2 {
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 8px;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        font-weight: bold;
    }

    ul {
        list-style: none;
        margin: 0;
        line-height: 0.5;
    }

   img {
        height: 80px;
        padding-bottom: 10px;
    }